.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.img{
  width: 30vw;
  height: 30vh;
}
.one{

  width: 30vw;
  height: 30vh;
  background-color: red;
  padding: 3vw;
  margin: 3vw;
  color: black;
}
.adv4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btu{
  background-color: aqua;
} */




.form {
    
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.454);

  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input {
  
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #0056b3;
}

.aaa {
  display: none;
}





.adv4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.one {
  flex-basis: calc(50% - 20px);
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; /* כדי להסתיר את הסגנון הפנימי של התמונה */
  width: 30vw;
  height: 30vh;
}
.img{
  width: 100%;
  height: auto;
  object-fit: cover; /* כדי לשמור על יחסי רוחב וגובה ולמלא את התמונה באופן מלא */
}


.btu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btu:hover {
  background-color: #45a049;
}

